@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #FFFFFF;
  --foreground: #262626;

  /* Brand Colors */
  --taxable-blue: #003787;
  --taxable-beige: #F1EEE8;
  --taxable-dark: #262626;
  --taxable-lightgray: #e5e5e5db;
  --taxable-lightgray2: #F5F5F5;
  --taxable-gray: #737373;
  --taxable-alert: #FFCFCF;
  --taxable-light: #FAFAFA;
  --taxable-navy: #0D1B2A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-taxable-blue: var(--taxable-blue);
  --color-taxable-beige: var(--taxable-beige);
  --color-taxable-lightgray2: var(--taxable-lightgray2);
  --color-taxable-dark: var(--taxable-dark);
  --color-taxable-lightgray: var(--taxable-lightgray);
  --color-taxable-gray: var(--taxable-gray);
  --color-taxable-alert: var(--taxable-alert);
  --color-taxable-light: var(--taxable-light);
  --color-taxable-navy: var(--taxable-navy);

  --font-sans: var(--font-archivo);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}